body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background: #f8f8f8;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.contentWrapper {
  padding: 25px;
  background: #F8F8F8;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}
